$footer-background: transparent !default;
$footer-logo-margin: $margin !default;
$footer-logo-width: 55% !default;

// Logo options
$footer-logo-path: "assets/priceco_logo.svg" !default;
$footer-logo-aspect: 37% !default;

#footer {

    // Set background of the footer
    background-color: $footer-background;

    // Style the logo thats in the footer
    .logo {

        // Set how wide the logo should be based on the footer
        width: $footer-logo-width;

        // Center footer and add spacing to top
        margin: $footer-logo-margin auto 0;

        // Add psudo element to logo with the actual logo content
        &:before {

            // You must add content to psudo element to make it visible
            content: '';

            // Make it a block
            display:block;

            // You cannot set height of this element to a percentage value cause of the parent height is not set.
            // You need to add padding-bottom. This is cause the padding values
            // is calculated through the width of the element, not the height. 
            padding-bottom: $footer-logo-aspect;

            // Add background image
            @include background-image(
                // Base64 encode the image from the path
                inline-image( $footer-logo-path )

            // Position the background from the ground
            , contain, bottom );
        }
    }
}
