.frame {
    /**
     * Use the view as the container
     */
    position: fixed;
    top: 0;
    left: 0;

    /**
     * Make the frame fill the whole container
     */
    width: 100%;
    height: 100%;
}
