$price-background-color: #ed1b2d !default;
$price-font-size: 6.5em !default;
$price-font: "Teko" !default;
$price-line-height: .77 !default;
$price-padding: .2em;
$price-font-color: white;

// Import Google font
@include google-font( $price-font );

.price {

    // Set font family to google font
    font-family: $price-font;

    /*
     * Make it take up exactly the space it needs
     */
    display: inline-block;

    /**
     * Inline and set the background of the price tag
     */
    @include background-image( inline-image( 'assets/priceco-price_bg.png' ), contain );

    /**
     * Set text color
     */
    color: $price-font-color;

    /**
     * Set price font size
     */
    font-size: $price-font-size;

    /**
     * Correct the line height of the font
     */
    line-height: $price-line-height;

    /**
     * Set the padding
     */
    padding: $price-padding;

    /**
     * Set price__decimal to half of font size
     */
    &__decimal {
        font-size: .5em;
        vertical-align: top;
    }

    &__number {
        /**
         * When using inline block
         * Make sure you remove all spacing between elements in the HTML
         * Else you will have a strange space, we cannot do anything about.
         */
        display: inline-block;
    }

}
