/*
 * This files handles your typography settings in the banner
 */

// Setup google font family font
$google-font-name: "Roboto" !default;
$font-family: $google-font-name, sans-serif !default;

// Import the google font
@include google-font( $google-font-name );

// Add default font style
$font-size: 3.5vw !default;
$font-color: black !default;

// Append the settings to html element
html, body {
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
}
