/*
 * Set variables to everything you want to overwrite here
 * Every variable width a !default value will be overwritten
 */

$banner-background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(141,198,236,1) 100%);

$margin: 6%;
$font-size: 3.5vw;
